name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: Install landing page dependencies
        run: npm install
      - name: Build landing page
        env:
          NODE_ENV: production
        run: npm run build
      - name: Commit documentation changes
        run: |
          cd build
          git init
          git add -A
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'deploy' -a || true
      - name: Push changes to gh-pages
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: build
          force: true
          github_token: ${{ secrets.GITHUB_TOKEN }}